body {
    margin: 0;
    padding: 0;
  }
  
  .header-section {
    background-color: #f0f0f0; /* Example background color */
    padding: 20px; /* Example padding */
    text-align: center;
    margin-top: 0; /* Ensure no top margin */
  }
  
  .main-section {
    padding: 20px; /* Example padding */
    text-align: center;
  }
  

  .comment-section {
    text-align: center; /* Optionally align the content inside the comment-section */
  }
  
  .song-item {
  border: solid black 2px;
  /* box-shadow: 3px 5px gray; */
  width: 300px;
  text-align: center;
  background-color:#C7171733;
  }

  .comment {
  border: solid black 2px;
  /* box-shadow: 3px 5px gray; */
  width: 300px;
  text-align: center;
  background-color:#C7171733;
  }